USE [master]
GO
/****** Object:  Database [Phone]    Script Date: 2024/4/17 下午 03:02:58 ******/
CREATE DATABASE [Phone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Phone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Phone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Phone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phone]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Account] [varchar](20) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Cellphone] [varchar](10) NOT NULL,
	[AuthCode] [varchar](10) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK__Account__B0C3AC47E3AEAEB6] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Account] [varchar](20) NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemNum] [int] NOT NULL,
	[AddTime] [datetime] NOT NULL,
	[FormatId] [int] NOT NULL,
 CONSTRAINT [PK__Cart__3214EC07031FF0EE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Format]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Format](
	[FormatId] [int] IDENTITY(0,1) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[ItemPrice] [int] NOT NULL,
	[Store] [int] NOT NULL,
	[Space] [varchar](5) NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK__Format__5D3DCB5948F76996] PRIMARY KEY CLUSTERED 
(
	[FormatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[FormatId] [int] NOT NULL,
	[ItemImg] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Img__3214EC074219CC8F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemId] [int] IDENTITY(0,1) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[Instruction] [varchar](200) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UPTime] [datetime] NULL,
	[DownTime] [datetime] NULL,
 CONSTRAINT [PK__Item__727E838BED3998F9] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(0,1) NOT NULL,
	[Account] [varchar](20) NOT NULL,
	[TotalPrice] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[OrderStatus] [varchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Order__C3905BCF73228E1C] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[FormatId] [int] NOT NULL,
	[ItemNum] [int] NOT NULL,
 CONSTRAINT [PK__OrderIte__3214EC071D559B71] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QA]    Script Date: 2024/4/17 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QA](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Account] [varchar](20) NOT NULL,
	[Content] [varchar](200) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Reply] [varchar](200) NULL,
	[ReplyTime] [datetime] NULL,
 CONSTRAINT [PK__QA__3214EC07EFE38943] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__IsAdmin__36B12243]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Format] ADD  CONSTRAINT [DF__Format__store__398D8EEE]  DEFAULT ((0)) FOR [Store]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__Item__IsAvailabl__3C69FB99]  DEFAULT ((0)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__Account__403A8C7D] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Account])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__Account__403A8C7D]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__FormatId__0697FACD] FOREIGN KEY([FormatId])
REFERENCES [dbo].[Format] ([FormatId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__FormatId__0697FACD]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__ItemId__412EB0B6] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__ItemId__412EB0B6]
GO
ALTER TABLE [dbo].[Format]  WITH CHECK ADD  CONSTRAINT [FK__Format__ItemId__607251E5] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Format] CHECK CONSTRAINT [FK__Format__ItemId__607251E5]
GO
ALTER TABLE [dbo].[Img]  WITH CHECK ADD  CONSTRAINT [FK__Img__FormatId__6FE99F9F] FOREIGN KEY([FormatId])
REFERENCES [dbo].[Format] ([FormatId])
GO
ALTER TABLE [dbo].[Img] CHECK CONSTRAINT [FK__Img__FormatId__6FE99F9F]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Account__440B1D61] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Account])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Account__440B1D61]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__46E78A0C] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK__OrderItem__Order__46E78A0C]
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD  CONSTRAINT [FK__QA__Account__49C3F6B7] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Account])
GO
ALTER TABLE [dbo].[QA] CHECK CONSTRAINT [FK__QA__Account__49C3F6B7]
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD  CONSTRAINT [FK__QA__ItemId__4AB81AF0] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[QA] CHECK CONSTRAINT [FK__QA__ItemId__4AB81AF0]
GO
USE [master]
GO
